{% extends "base.html" %} {% load static %} {%block content%}
<p></p>
{%load plotly_dash%} {% load bootstrap_icons %}

<div class="table" style="float: left; position: relative; width: 40vw">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Coin Name</th>
        <th scope="col">Prediction</th>
        <th scope="col">Prediction Accurracy</th>
      </tr>
    </thead>
    <tbody>
      {% if table_prediction %} {% for rowTable in table_prediction %}
      <tr>
        {% for rowRow in rowTable %} {% if rowRow == 'Positive' %}
        <td>
          <p
            style="
              color: rgb(22, 244, 22);
              transform: rotate(45deg);
              position: absolute;
            "
          >
            {% bs_icon 'arrow-up' size='1.8rem' %}
          </p>
        </td>

        {% elif rowRow == 'Negative' %}
        <td>
          <p
            style="
              color: rgb(233, 25, 17);
              transform: rotate(-45deg);
              position: absolute;
            "
          >
            {% bs_icon 'arrow-down' size='1.8rem' %}
          </p>
        </td>

        {% else %}
        <td>{{rowRow}}</td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
<div
  class="{% plotly_class name='SimpleExample' %} card"
  style="width: 75%; height: 100%"
>
  <table>
    <tr>
      <td>
        <form action="/ShowCryptoHistory" method="post" id="historyForm">
          {% csrf_token %}
          <button
            class="btn btn-primary"
            value="Bitcoin"
            name="history"
            type="submit"
            form="historyForm"
          >
            Show Bitcoin
          </button>
          <button
            class="btn btn-secondary"
            value="Ethereum"
            name="history"
            type="submit"
            form="historyForm"
          >
            Show Ethereum
          </button>
          <button
            class="btn btn-danger"
            value="BinanceCoin"
            name="history"
            type="submit"
            form="historyForm"
          >
            Show BinanceCoin
          </button>
          <button
            class="btn btn-warning"
            value="Tether"
            name="history"
            type="submit"
            form="historyForm"
          >
            Show Tether
          </button>
        </form>
        {{ plot|safe }}
      </td>
    </tr>
  </table>

  <!-- {% plotly_app name="SimpleExample" ratio=0.65 %} -->
</div>
{% endblock %}

<!--   -->
